<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>

<body>
    <header >
        <div class="contenedor-header">
            <img class="logo-header" src="images/logo-mercado-liebre.svg">
            <form class="form-search" action="">
                <div class="div-header-control">
                    <input type="search" placeholder="Buscar Productos, Marcas" class="input-search">
                    <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </form>

            <p class="cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
        <nav class="header-nav">
            <ul class="nav-bar">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="nav-bar">
                <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>    
        </nav>
        <div>
            <a class="burguer-menu efecto-transition" href="#">
                <i class="fas fa-bars"></i>
            </a>
        </div>
    </header>
    <div>
        <p></p>
        <img src="images/img-home-banner.jpg">
    </div>
    <!-- #Main -->
    <main  >
        <div class="flex-titulos">
            <h3 class="tipo-titulares">Basado en tu última visita</h3>
        </div>
        <section class="product-list">
            <article class="product efecto-transition">
                <img src="images/img-cafetera-moulinex.jpg">
                <div class="flex-product-detail ">
                    <p><i class="fa-solid fa-truck product-truck-logo efecto-transition"></i></p>
                    <p class="tipo-precio parrafo">$6.700</p>
                    <p class="tipo-descuento parrafo">40% off</p>
                    <p class="tipo-descripcion ">Cafetera Moulinex</p>
                </div>
            </article>
            <article class="product efecto-transition">
                <img src="images/img-macbook-pro-2019.jpg">
                <div class="flex-product-detail"> 
                    <p><i class="fa-solid fa-truck product-truck-logo efecto-transition"></i></p>
                    <p class="tipo-precio parrafo">$230.000</p>
                    <p class="tipo-descuento parrafo">20% off</p>
                    <p class="tipo-descripcion">Macbook Pro 2019</p>
                </div>
            </article>
            <article class="product efecto-transition">
                <img src="images/img-samsung-galaxy-s10.jpg">
                <div class="flex-product-detail">
                    <p><i class="fa-solid fa-truck product-truck-logo efecto-transition"></i></p>
                    <p class="tipo-precio parrafo">$70.500</p>
                    <p class="tipo-descuento parrafo">10% off</p>
                    <p class="tipo-descripcion">Samsung Galaxy S10</p>
                </div>
            </article>
            <article class="product efecto-transition">
                <img src="images/img-tv-samsung-smart.jpg">
                <div class="flex-product-detail">    
                    <p><i class="fa-solid fa-truck product-truck-logo efecto-transition"></i></p>
                    <p class="tipo-precio parrafo">$6.770</p>
                    <p class="tipo-desccuento parrafo">5% off</p>
                    <p class="tipo-descripcion">Smart Tv Samsung 43''</p>
                </div>
            </article>
        </section>
        <div class="flex-titulos">
            <h3 class="tipo-titulares">Sección de Ofertas</h3>
        </div>
        <section class="product-list">
            <article class="product efecto-transition">
                <img src="images/img-cafetera-moulinex.jpg">
                <div class="flex-product-detail ">
                    <p><i class="fa-solid fa-truck product-truck-logo efecto-transition"></i></p>
                    <p class="tipo-precio parrafo">$6.700</p>
                    <p class="tipo-descuento parrafo">40% off</p>
                    <p class="tipo-descripcion ">Cafetera Moulinex</p>
                </div>
            </article>
            <article class="product efecto-transition">
                <img src="images/img-macbook-pro-2019.jpg">
                <div class="flex-product-detail"> 
                    <p><i class="fa-solid fa-truck product-truck-logo efecto-transition"></i></p>
                    <p class="tipo-precio parrafo">$230.000</p>
                    <p class="tipo-descuento parrafo">20% off</p>
                    <p class="tipo-descripcion">Macbook Pro 2019</p>
                </div>
            </article>
            <article class="product efecto-transition">
                <img src="images/img-samsung-galaxy-s10.jpg">
                <div class="flex-product-detail">
                    <p><i class="fa-solid fa-truck product-truck-logo efecto-transition"></i></p>
                    <p class="tipo-precio parrafo">$70.500</p>
                    <p class="tipo-descuento parrafo">10% off</p>
                    <p class="tipo-descripcion">Samsung Galaxy S10</p>
                </div>
            </article>
            <article class="product efecto-transition">
                <img src="images/img-tv-samsung-smart.jpg">
                <div class="flex-product-detail">    
                    <p><i class="fa-solid fa-truck product-truck-logo efecto-transition"></i></p>
                    <p class="tipo-precio parrafo">$6.770</p>
                    <p class="tipo-desccuento parrafo">5% off</p>
                    <p class="tipo-descripcion">Smart Tv Samsung 43''</p>
                </div>
            </article>
        </section>
    </main>
    <!-- #Footer -->
    <footer>
        <section>
            <h1><i class="fa-solid fa-credit-card agrandar-icon"></i></h1>
            <p class="texto-negrita">Pagá con tarjeta o en efectivo</p>
            <p class="parrafo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de
                pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h1><i class="fa-solid fa-gift agrandar-icon"></i></h1>
            <p class="texto-negrita">Envío gratis desde $ 2.500</p>
            <p class="parrafo">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es
                un beneﬁcio de Mercado Puntos.</p>
        </section>
        <section>
            <h1><i class="fa-solid fa-user-shield agrandar-icon"></i></h1>
            <p class="texto-negrita tipo-cuerpo">Seguridad, de principio a fin</p>
            <p class="parrafo">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque
                estás siempre protegid@.</p>
        </section>
        <section>
            <p></p>
            <p class="pie-negrita">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>