<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login de Usuario</title>

</head>
<body>
    <header >
        <div class="contenedor-header">
            <img class="logo-header" src="images/logo-mercado-liebre.svg">
            <form class="form-search" action="">
                <div class="div-header-control">
                    <input type="search" placeholder="Buscar Productos, Marcas" class="input-search">
                    <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </form>

            <p class="cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
        <nav class="header-nav">
            <ul class="nav-bar">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="nav-bar">
                <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>    
        </nav>
        <div>
            <a class="burguer-menu efecto-transition" href="#">
                <i class="fas fa-bars"></i>
            </a>
        </div>
    </header>

    <!-- #Main -->
    <main  > 
    <div class="login-container">
        <h2>Login de Usuario</h2>
        <form action="pagina_principal.html" method="post">
            <label for="username">Nombre de usuari@</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">Enviar</button>
        </form>
    </div>
    </main>
     <!-- #Footer -->
    <footer>
        <section>
            <h1><i class="fa-solid fa-credit-card agrandar-icon"></i></h1>
            <p class="texto-negrita">Pagá con tarjeta o en efectivo</p>
            <p class="parrafo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de
                pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h1><i class="fa-solid fa-gift agrandar-icon"></i></h1>
            <p class="texto-negrita">Envío gratis desde $ 2.500</p>
            <p class="parrafo">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es
                un beneﬁcio de Mercado Puntos.</p>
        </section>
        <section>
            <h1><i class="fa-solid fa-user-shield agrandar-icon"></i></h1>
            <p class="texto-negrita tipo-cuerpo">Seguridad, de principio a fin</p>
            <p class="parrafo">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque
                estás siempre protegid@.</p>
        </section>
        <section>
            <p></p>
            <p class="pie-negrita">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>
