<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>

</head>

<body>
    <header>
        <div class="contenedor-header">
            <img class="logo-header" src="images/logo-mercado-liebre.svg">
            <form class="form-search" action="">
                <div class="div-header-control">
                    <input type="search" placeholder="Buscar Productos, Marcas" class="input-search">
                    <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </form>

            <p class="cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
        <nav class="header-nav">
            <ul class="nav-bar">
                <li><a href="/">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="nav-bar">
                <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div>
            <a class="burguer-menu efecto-transition" href="#">
                <i class="fas fa-bars"></i>
            </a>
        </div>
    </header>

    <main class="register-main">
        <section class="main-section">
            <form action="/" method="get" class="create-acount-form">
                <div class="form-register name-div">
                    <label for="name"></label>
                    <input type="text" id="name" name="name" placeholder="Nombre" class="form-input" required>
                </div>
                <div class="form-register name-div">
                    <label for="last-name"></label>
                    <input type="text" id="last-name" name="last-name" placeholder="Apellido" class="form-input"
                        required>
                </div>
                <div class="form-register">
                    <label for="user-name"></label>
                    <input type="text" id="user-name" name="user-name" placeholder="Nombre de Usuari@"
                        class="form-input">
                </div>
                <div class="form-register">
                    <label for="email"></label>
                    <input type="email" id="email" name="email" placeholder="Email" class="form-input">
                </div>
                <div class="form-register">
                    <label for="birthday" class="label-title">Fecha de Nacimiento:</label>
                    <input type="date" id="birthday" name="birthday" class="form-input" required>
                </div>
                <div class="form-register">
                    <label for="home"></label>
                    <input type="text" id="home" name="home" placeholder="Domicilio" class="form-input" required>
                </div>
                <div class="form-register">
                    <label class="label-title">Perfil del Usuario:</label>
                    <div class="user-profile-option">
                        <input type="radio" id="comprador" name="user-profile" value="Comprador">
                        <label for="comprador">Comprador</label>
                    </div>
                    <div class="user-profile-option">
                        <input type="radio" id="vendedor" name="user-profile" value="Vendedor">
                        <label for="vendedor">Vendedor</label>
                    </div>
                </div>

                <div class="form-register">
                    <label class="label-title">Categorías de interés</label>
                    <div class="interest-category-option">
                        <input type="checkbox" id="electro" name="interest-category" value="electro">
                        <label for="electro">Electro</label>
                    </div>
                    <div class="interest-category-option">
                        <input type="checkbox" id="moda" name="interest-category" value="moda">
                        <label for="moda">Moda</label>
                    </div>
                    <div class="interest-category-option">
                        <input type="checkbox" id="hogar" name="interest-category" value="hogar">
                        <label for="hogar">Hogar</label>
                    </div>
                    <div class="interest-category-option">
                        <input type="checkbox" id="jugueteria" name="interest-category" value="jugueteria">
                        <label for="jugueteria">Juguetería</label>
                    </div>
                    <div class="interest-category-option">
                        <input type="checkbox" id="vida-sana" name="interest-category" value="vida-sana">
                        <label for="vida-sana">Vida sana</label>
                    </div>
                </div>

                <div class="form-register">
                    <label for="foto-usuario" class="label-title">Foto de Usuario:</label>
                    <input type="file" id="foto-usuario" name="foto-usuario" accept="image/*" required>
                </div>
                <div class="form-register">
                    <label for="contrasena" class="label-title">Contraseña:</label>
                    <input type="password" id="contrasena" name="contrasena" class="form-input" required>
                </div>
                <div class="form-register">
                    <label for="confirmar-contrasena" class="label-title">Confirmar Contraseña:</label>
                    <input type="password" id="confirmar-contrasena" name="confirmar-contrasena" class="form-input" required>
                </div>

                <button type="submit" class="button-form btn-Enviar">Enviar</button>
                <button type="reset" class="button-form">Borrar</button>
            </form>
        </section>
    </main>

    <!-- #Footer -->
    <footer>
        <section>
            <h1><i class="fa-solid fa-credit-card agrandar-icon"></i></h1>
            <p class="texto-negrita">Pagá con tarjeta o en efectivo</p>
            <p class="parrafo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de
                pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h1><i class="fa-solid fa-gift agrandar-icon"></i></h1>
            <p class="texto-negrita">Envío gratis desde $ 2.500</p>
            <p class="parrafo">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es
                un beneﬁcio de Mercado Puntos.</p>
        </section>
        <section>
            <h1><i class="fa-solid fa-user-shield agrandar-icon"></i></h1>
            <p class="texto-negrita tipo-cuerpo">Seguridad, de principio a fin</p>
            <p class="parrafo">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque
                estás siempre protegid@.</p>
        </section>
        <section>
            <p></p>
            <p class="pie-negrita">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>