/*
Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;

Tipografías
Familia: 'Roboto'
Nos envían esta demo de cómo cargar fuentes de Google Fonts. Además
podemos consultar el siguiente recurso aquí, para más detalle.
● Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px
● Íconos
El departamento de diseño usó los íconos de este sitio:
https://fontawesome.com/icons?d=gallery&m=free
*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.efecto-transition {
  transition: 200ms;
}


body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: #ebebeb;
}

.contenedor-header {
  display: flex;
  flex-wrap: wrap;
  background-color: #EAC926;
  align-items: center;

}


.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  /*margin: 0 auto;*/
}

.flex-titulos {
  display: flex;
  justify-content: flex-start;
  /* Alinea los elementos hijos a la izquierda */
  align-items: center;
  /* Centra verticalmente los elementos si es necesario */
  /*height: 100vh; /* Ajusta la altura del contenedor según tus necesidades */
  padding: 20px;
  /* Espaciado interno del contenedor */
  background-color: #f0f0f0;
  /* Color de fondo del contenedor */
}

.form-search,
.logo-header {
  width: 50%;

}

.div-header-control {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  position: relative;
}

h3 {
  margin: 0;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #f9f9f9;
}

.product {
  /*background-color: #f9f9f9;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
  width: calc(100% - 40px);  Default full width for mobile 
  max-width: 300px;
  text-align: center;*/
  margin: 10px;
}

.product:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);

  .product-truck-logo {
    transform: rotate(-90deg);
  }

  .tipo-descripcion {
    visibility: visible;
  }
}

.product img {
  max-width: 100%;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.product-truck-logo {
  color: #39b54a;
  font-size: 16px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  border-radius: 50%;
  padding: 5px;
  background-color: white;
  /*no se vea lo de atras*/
  position: absolute;
  right: 20px;
  top: -15px;
}

.fondo-banner {
  background-color: #EAC926;


}

.input-search {
  width: 90%;
}

.tipo-cuerpo {
  font-size: 10px;
}

.tipo-titulares {
  font-size: 24px;
  width: 100%;
  margin-bottom: 15px;
}

.tipo-precio {
  font-size: 18px;
  width: 30%;
}

.tipo-descuento {
  width: 70%;
  font-size: 16px;
  color: #39b54a;
  padding: auto;
  margin-right: 10px;
  text-align: start;
}

.tipo-descripcion {
  font-size: 16px;
  font-weight: bold;
  visibility: hidden;
}

.cuotas {
  text-align: center;
  margin: 20px;
}


.burguer-menu {
  display: block;
  background-color: #1259c3;
  color: white;
  width: 45px;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  margin: 0px auto;
  padding: 7px;

}

.fondo-claro {
  background-color: #ebebeb;
}

.texto-negrita {
  font-weight: bold;
  margin: 0 auto;

}

.pie-negrita {
  font-weight: bold;
  text-align: start;

}

.flex-product-detail {
  background-color: white;
  border-top: 1px solid #ebebeb;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  position: relative;
}

.parrafo {
  margin: 0;
  /* Elimina los márgenes por defecto */
  padding: 3%;
  /* Añade un poco de espacio interno */

  /* Color de fondo para distinguir los párrafos */
  border-radius: 5px;
  /* Bordes redondeados */
  box-sizing: border-box;
  /* Incluye el padding y border en el ancho */
  white-space: nowrap;
  /* Evita que los párrafos se rompan en varias líneas */
  overflow: hidden;
  /* Oculta cualquier desbordamiento de contenido */
  text-overflow: ellipsis;
  /* Añade "..." si el contenido es demasiado largo */
}

/* Asigna el ancho específico a cada párrafo */
.parrafo:nth-child(2) {

  text-align: end;
  /* Centra el texto */
  flex: 0 0 40%;
  /* El primer párrafo ocupa el 40% del ancho */
}

.parrafo:nth-child(3) {
  text-align: start;
  flex: 0 0 60%;
  /* El segundo párrafo ocupa el 60% del ancho */
}


.agrandar-icon {
  font-size: 40px;
  color: #1259c3;

}

.separacion {
  padding: 10px;
}

.envio {
  color: green;

}

header {
  background-color: #EAC926;
  padding: 20px;
}

.header-nav {
  display: none;
  margin: 0 auto;
}

.header-nav.active {
  display: block;
}

.nav-bar a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}


header img {
  width: 50%;
}

header input {
  width: 40%;
  line-height: 3em;
  border-radius: 10px;
  justify-content: center;
}

header button {
  width: 2em;
  line-height: 3em;

}

header p {
  align-items: center;
}


footer {
  background-color: #ebebeb;
  text-align: center;
}

article {
  box-sizing: border-box;
  text-align: left;
  border-bottom: solid 1px #ebebeb;
  margin: 15px;

}

main {
  text-align: center;
  width: 90%;
  margin: auto;

}

img {
  max-width: 100%;
}

/*------- login -------*/

.login-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #45a049;
}

/* --------- register -------*/

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 8px;
  margin-top: 12px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="reset"] {
  background-color: #dc3545;
}

button:hover {
  opacity: 0.9;
}


@media (min-width: 361px) {

  .burguer-menu {
    display: none;
  }

  .header-nav {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
  }

  .header-nav ul {
    display: flex;
    list-style: none;
  }

  .header-nav ul li {
    margin: 0 6px;
  }

  .contenedor-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .logo-header,
  .form-search,
  .cuotas {
    width: calc(30% - 10px);
  }

  header img {
    box-shadow: none;
    width: 40%;
  }

  img {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .product {
    width: calc(50% - 40px);
    /* Two columns for tablets */
  }
}


@media (min-width: 769px) {
  header nav {
    display: inline;
  }

  .main-content {
    padding: 40px 60px;
  }

  .product-list {
    flex-wrap: nowrap;
  }

  .product {
    width: calc(25% - 40px);
    /* Four columns for large desktops */
  }
}